@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');
// @import 'material-icons';
@import 'bootstrap';
@import 'node_modules/font-awesome/scss/font-awesome';

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	bottom: 0;
	z-index: $zindex-fixed + 1;

	.nav {
		.nav-item {
			.nav-link {
				transition: all 0.2s ease-out;

				&.active,
				&:hover,
				&:focus {
					background: $gray-700;
				}
				&.nav-root {
					border-bottom: $gray-700 thin solid;
					&.active {
						border-bottom: $gray-600 thin solid;
					}
				}
			}
		}
	}
}

.headerbar {
	position: fixed;
	top: 0;
	left: 250px;
	right: 0;
	height: 70px;
	z-index: $zindex-fixed;
	box-shadow: 0 0 10px $gray-300;
}

.main-container {
	position: fixed;
	top: 70px;
	left: 250px;
	right: 0;
	bottom: 0;
	overflow-y: auto;
}

.dropdown {
	.dropdown-toggle {
		&::after {
			display: none;
		}
	}
}