.master-detail-view {

	.master-view {
		position: fixed;
		top: 56px;
		left: 0;
		width: 25%;
		bottom: 0;
		box-shadow: 0 0 30px rgba(0,0,0,0.1);

		.master-header {
			border-bottom: $gray-200 thin solid;
		}

		.master-list {
			overflow-y: auto;
			overflow-x: hidden;
			padding-bottom: $spacer * 5;
		}

		.list-group {

			.list-group-item {
				padding-top: $spacer;
				padding-bottom: $spacer;
				color: $gray-700;
				border-color: $gray-200;
				border-left: none;
				border-right: none;
				transition: background-color 0.2s ease-out;

				&:first-child {
					border-top: none;
				}
				&:hover:not(.active) {
					background-color: $gray-100;
				}
				&.active {
					* {
						color: $white !important;
					}
				}
			}
		}
	}

	.detail-view {
		position: fixed;
		top: 56px;
		left: 25%;
		right: 0;
		bottom: 0;
		overflow-y: auto;
	}

}