.sidebar-view {

	.sidebar {
		position: fixed;
		top: 68px;
		left: 0;
		width: 300px;
		bottom: 0;
		background-color: $gray-800;
		overflow-y: auto;

		.list-group {

			margin-top: $spacer * 2;
			margin-bottom: $spacer * 4;

			.list-group-item {
				border: none;
				color: $gray-500;
				margin: 3px ($spacer / 2);
				background-color: transparent;
				border-radius: $border-radius-sm;

				&:first-child {
					margin-top: 0;
				}

				&:hover {
					color: $gray-100;
				}

				&.active {
					background-color: $gray-900;
				}

				&:not(.active) .text {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}

	.main-container {
		position: fixed;
		top: 68px;
		left: 300px;
		right: 0;
		bottom: 0;
		overflow-y: auto;

		iframe {
			margin-bottom: -10px;
		}

	}

	.headerbar {
		position: fixed;
		top: 56px;
		left: 300px;
		right: 0;
		height: 50px;
		background-color: $gray-100;

		.title {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		+.main-container {
			top: 107px;
		}
	}

}