.topics-list {

	.list-group-item {
		transition: margin 0.2s ease-out, box-shadow 0.2s ease-out;

		&:hover {
			margin-left: $spacer * -1;
			margin-right: $spacer * -1;
			box-shadow: 0 0 15px rgba(0,0,0,0.15);
			z-index: 989;
			color: theme-color('primary');
		}
	}
}

.content-list {

	.list-group-item {
		transition: padding-left 0.2s ease-out;

		&.disabled {
			opacity: 0.5;
		}

		&:hover:not(.active):not(.disabled) {
			padding-left: $spacer * 2;
		}
	}
}