.article-thumb {
	h5 {
		a {
			transition: color 0.1s ease-out;
		}
		a:hover,
		a:focus,
		a:active {
			text-decoration: none;
		}
	}

	.article-thumb-img {
		display: block;
		overflow: hidden;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		height: 200px;
		width: 100%;
		border-radius: $border-radius-lg;
	}
}

.article-list-group {

	.article-list-group-item a {
		color: $gray-700;

		&:hover,
		&:focus,
		&:active {
			color: $gray-700;
			text-decoration: none;
		}
	}

	.pagination {
	}
}

.article-content {
	p {
		font-family: $font-family-serif;
		font-size: $font-size-lg;
		line-height: 1.8;
		margin-bottom: $spacer * 2;
	}
}