.home-cover {
	background-image: url('/images/home-cover.jpg');
}

.text-black{
	color: #212121;
}

.accentblue{
	background: $accentblue;
}

.color-red{
	color: #a4151a;
}

.color-blue{
	color: $accentblue;
}

.popular-width{
	width: 35px;
}

.opacity-half{
	opacity: 0.5;
}

.slick-dots{
	// margin-block-start: 0;
	padding-inline-start: 0;
	display: flex;
	justify-content: flex-end;

	li{
		list-style: none;
		position: relative;
		padding: 5px;

		&.slick-active{

			&:before{
				color: #a4151a;
			}
		}

		&:before{
			content: '\f111';
			display: inline-block;
			font-family: FontAwesome;
			color: #E8EAEC;
			font-size: 1.2em;
		}

		button{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			/* background: #fff; */
			display: none;
		}
	}
}

