.bg-highlight {
	background: #ed1c24;
	background: -moz-linear-gradient(-45deg, #ed1c24 0%, #a4151a 100%);
	background: -webkit-linear-gradient(-45deg, #ed1c24 0%,#a4151a 100%);
	background: linear-gradient(135deg, #ed1c24 0%,#a4151a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1c24', endColorstr='#a4151a',GradientType=1 );
}
.bg-highlight-2 {
	background: #1488cc;
	background: -moz-linear-gradient(-45deg, #1488cc 1%, #0974b2 100%);
	background: -webkit-linear-gradient(-45deg, #1488cc 1%,#0974b2 100%);
	background: linear-gradient(135deg, #1488cc 1%,#0974b2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1488cc', endColorstr='#0974b2',GradientType=1 );
}

.form-control-minimal {
	background: none;
	border: none;
	border-bottom: $gray-200 thin solid;
	border-radius: 0;
	font-family: $font-family-base;

	&.btn:hover,
	&.btn:focus {
		color: $gray-300;
	}
	&:focus {
		border-bottom-color: theme-color("primary");
	}
}

.shadowed {
	box-shadow: 0 0 30px rgba(0,0,0,.1);
}

.box-shadow{
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.ellipsis-3 {
	display: -webkit-box;
	height: $font-size-base * $line-height-base * 3;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;

	&.small {
		height: $font-size-sm * $line-height-sm * 2.8;
	}
}

.bg-white {
	background-color: $white;
}

.rounded-lg {
	border-radius: $border-radius-lg;
}

.rounded-sm {
	border-radius: $border-radius-sm;
}

.dropdown-toggle::after {
	display: none;
}

@import 'node_modules/font-awesome/scss/font-awesome';

.premium-badge{
  	background: #a4151a;
	color: #fff;
	font-weight: 700;
	font-size: 0.8em;
	padding: 0.4em 0.2em;
	position: absolute;
	top: 5px;
    right: 12px;
}

.p-relative{
	position: relative;
}

