.navbar {

	.navbar-nav {
		.nav-item {

			&.dropdown {

				.dropdown-menu {
					.dropdown-item {
						&:active {
							color: $white;
							.text-muted {
								color: $white !important;
							}
						}
					}
				}

			}

		}
	}

}

.navbar-main {
	padding: ($spacer * 2) $spacer;
}

@include media-breakpoint-up(lg) {
	.navbar-fixed {
		top: -110px;
		transition: top 0.3s ease-out;

		&.scrolled {
			top: 0;
		}
	}
}

.navbar-profile {
	width: 40px;
	height: 40px;
}