.topic-thumb {
	display: block;
	transition: box-shadow 0.3s ease-out;
	border-radius: $border-radius-lg;
	color: $gray-700;
	overflow: hidden;

	.topic-thumb-img {
		display: block;
		height: 230px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
	.topic-thumb-text {
		padding: ($spacer * 1.5) $spacer;
		height: 225px;
	}
}
.topic-thumb:hover,
.topic-thumb:focus,
.topic-thumb:active {
	color: $gray-700;
	text-decoration: none;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.topic-thumb-p2kb {
	border-bottom: theme-color("primary") 10px solid;
}
.topic-thumb-p3kgb {
	border-bottom: theme-color("primary") 10px solid;
}

.topic-content-list {

	padding-left: 9px;

	.topic-content-list-item-primary,
	.topic-content-list-item-primary-2 {
		position: relative;
		padding-left: $spacer * 3;
		min-height: 100px;
		padding-bottom: $spacer * 2;
		border-left: $gray-200 thin solid;

		&:after {
			position: absolute;
	    top: 0;
	    left: 0;
	    content: '';
	    width: 18px;
	    height: 18px;
	    border-radius: 50%;
	    transform: translateX(-50%);
		}
	}
	.topic-content-list-item-primary {
		&:after {
	    border: 2px solid theme-color("primary");
	    background-color: theme-color("primary");
		}
	}

	.topic-content-list-item-primary-2 {
		&:after {
		    border: 2px solid theme-color("primary2");
		    background-color: theme-color("primary2");
		}
	}
}