// Fonts
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,700|Noto+Serif|Montserrat:600');

// Bootstrap & FontAwesome
@import "bootstrap";
@import "_variables";
@import "node_modules/font-awesome/scss/font-awesome";

// General styling
@import "elements";
@import "navbar";
@import "modal";
@import "card";
@import "misc";

// Module-specific styling
@import "homepage";
@import "articles";
@import "topics";

@include media-breakpoint-down(md) {
	section {
		padding: ($spacer * 3) 0;
	}
}

@include media-breakpoint-only(md) {
	section {
		padding: ($spacer * 3) 0;
	}
	.cover {
		padding-top: 160px;
	}
}

@include media-breakpoint-up(lg) {
	section {
		padding: ($spacer * 5) 0;
	}
}

.border-radius{
	border-radius: 5px;
}

.img-cover{
	object-fit: cover;
}

.btn{
	
	&:hover{
		margin-top: -1px;
		margin-bottom: 1px;
	}
}

.text-grey{
	color: rgba(0,0,13, 0.8);
}