.top-banner{
  position: relative;
  overflow: hidden; 

    &.banner-bg{
      background: linear-gradient(to left, #59c4e4 43%, transparent);
      padding: 2em 0;
      color: #fff;
    }

    @media screen and (min-width: 2560px) {
      background: linear-gradient(to left, #59c4e4 50%, transparent);
    }

    &.banner-after:after{
      display: inline-block;
      left: 0;
      height: 100%;
      width: 100%;
      /* max-height: 100%; */
      background-size: auto 100%;
      /* object-fit: cover; */
      content: '';
      text-align: right;
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
    }

    &.paramount-bed:after{
        background: url(/images/paramount-bed-banner.png?ed5375b…) 0% 0% no-repeat;
    }
}

.paramount-top-banner{

  @media screen and (min-width : 768px ){
    height: 300px;
  }


  @media screen and (min-width : 1024px ){
    height: 400px;
  }
  
}

.ads-home-images{
  max-height: 233px;
  width: 100%;
  object-fit: cover;
}

.white-bg{
  background: #fff;
}

.img-cover{
  object-fit: cover;
}

.p-absolute{
  position: absolute;

  &.top{
    top: 0;
  }

  &.back{
    z-index: -1;
  }
}

button.btn-paramount, a.btn-paramount{
  background: #59c4e4;
  border: 1px solid #59c4e4;
  margin-top: 1px;
  margin-bottom: 1px;
  color: #fff;

  &:hover{
    background: darken( #59c4e4, 10%);
    margin-top: -1px;
    margin-bottom: 1px;
  }
}

.white-text{
  color: #fff;
}

.text-paramount{
  color: #003563;
}

.text-paramount-secondary{
  color: #56C4E9;
}

.paramount-border{
  border-color: #56C4E9;
}

.paramount-bg{
  background:  #56C4E9;
}

.border-top-5{
  border-top: 5em;
}

.border-bottom-5{
  border-top: 5em;
}

.premium-badge{
  
  &:before{
    content: '\f023 Premium Content';
    display: inline-block;
    font-family: 'Font Awesome';
  }
}

